.armor-list{
  background-color: #fafafa;
  & .list-group .list-group-item {
    &:first-of-type{
      border-top: 0;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }
  .armor-list-header{
    border: 1px solid #dddddd;
    background-color: #eee;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    .armor-list-sort{
      text-align: center;
      .armor-list-sort-options.btn{
        box-shadow: 0px 0px 0px 0px;
        border-bottom: 1px solid #444;
        border-radius: 0px;
        background-color: transparent;
      }
    }
    .armor-list-print-save {
      z-index: 1;
      position: absolute;
      right: 15px;
      margin-top: -42px;
      .btn:hover{
        transition: all 200ms;
        .fa {
          transition: all 200ms;
          color: #0d87e9;
        }
      }
    }
    .sort-menu-item {
      text-transform: capitalize;
    }
  }
  .armor-list-data {
    padding-top: 10px !important;

    .armor-key-value-row > div.col-xs-6:first-of-type {
      font-weight: 600;
    }
  }
  &.print {
    .armor-list-print-save, .pagination-wrapper {
      display: none !important;
    }
  }
}