.armor-vf-checkbox {
  padding: 5px 0;

  div {
    padding-right: 0px;
    padding-left: 0px;
  }
  .small-filter-box {
    font-size: 10px;
  }
  .medium-filter-box {
    font-size: 12px;
  }
  .help-icon {
    position: absolute;
    right: 0px;
    top: 10px;
    font-size: 15px;
    width: 30px;
    text-align: center;
    z-index: 2;
  }
  .help-icon:hover {
    cursor: help;
  }
  .option-icon {
    float: left;
    width: 20px;
    margin-top: 4px;
    margin-left: -2px;
    margin-right: 5px;
  }
  .armor-vf-input {
    margin: 5px !important;
  }
}