.search-filter-list{
  background-color: rgba(255, 255, 255, .4);
  padding: 10px;
  margin: 0;
  input.armor-filter-search-field {
    $color: #444;
    $placeHolderColor: lighten($color, 20%);
    box-shadow: inset 0 -1px 0 $color;
    color: $color;
    &::-webkit-input-placeholder {
    color: $placeHolderColor;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: $placeHolderColor;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
      color: $placeHolderColor;
    }

    &:-ms-input-placeholder {
      color: $placeHolderColor;
    }
  }
}