.armor-slider {
  .armor-slider-label-start, .armor-slider-endValue {
    display: inline-block;
    transform: translateY(-25%);
  }
  .armor-slider-endValue {
    width: 3%
  }

  .armor-slider-label-start {
    width: 10%;
  }
  $width: 87%;
  .armor-slider-wrapper {
    display: inline-block;
    width: $width;
    $size: 20px;
    .tear-wrapper {
      position: absolute;
      width: $width;
      padding-right: $size;
      color: #444;
      .tear-sizer {
        width: $size;
        margin-bottom: 2px;
        text-align: center;
      }
      .tear {
        width: $size;
        height: $size;
      }
      .value {
        margin-top: -$size;
        position: relative
      }
    }
  }
}