.armorInfoPaper {
  position: absolute;
  left: 33%;
  bottom: 5vh;
  padding: 5px;
  opacity: 0.8;
  height: 18%;
  width: 33%;
  text-align: center;
  display: inline-block;
  z-index: 99;
}

.split .armorInfoPaper {
  left: 25%;
  width: 50%;
}