.active-view{
  text-transform: capitalize;
  display: inline;
  font-size: 20px;
}

.armor-pill{
  display: inline-block;
  top: 7px;
  position: absolute;
  margin-left: 10px;
  .nav li {
    a {
      display: inline-block;
      padding: 0px 10px;
    }
  }

}
