.armor-filter-dropdown {
    ul.dropdown-menu {
      & > li:hover > a[role="menuitem"] .remove-btn {
        opacity: 1;
      }
      & *:active{
        outline: none;
      }
      & > li > a[role="menuitem"] {
        margin: 0;
        padding: 3px 0 3px 5px;
        font-size: 16px;
        .remove-btn {
          box-shadow: 0;
          padding: 0 5px;
          opacity: 0;
          transition: opacity 150ms;
          &:after {
            content: '';
          }
        }
      }
  }
}
