@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.armor-back-to-top {
  z-index: 10000;
  position: fixed !important;
  bottom: 0;
  right: 0;
  animation: fadeIn ease-in 500ms;
}
