.armor-vf-dropdown {
  .armor-vf-dropdown {
    margin-bottom: 5px;
  }
  .collapse-icon {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 20px;
    color: #000;
    width: 30px;
    text-align: center;
  }
  .collapse-icon:hover {
    cursor: pointer;
  }

  .category {
    margin-left: -15px;
    font-weight: bold;
  }

}