.wrapper-color-picker {
  span.color {
    display: inline-block;
    height: 25px;
    width: 50px;
    border: 1px solid #444;
    margin-right: 10px;
  }
  .color-button {
    padding: 3px 20px 0px 6px;
  }
}