@import 'colors';
$height: 450px;
$active-filter: $accent;
$filter: $primary;
$hover-filter: $accent;

.armor-view-filter {
  background-color: rgba(255, 255, 255, 0.90);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 6px 11px 0 rgba(0, 0, 0, .18);

    &:hover {
      background-color: rgba(255, 255, 255, 1);
      box-shadow: 0 6px 11px 0 rgba(0, 0, 0, .26);
    }
    &:focus {
      background-color: rgba(255, 255, 255, 1);
      outline: 0;
      border: #444;
    }
    &:active {
      transition-delay: 0s;
      box-shadow: 0 10px 11px 0 rgba(0, 0, 0, 0.2);
    }

  .filter-container {
    padding: 0px 30px;
    max-height: $height;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .action-buttons {
    padding: 10px;
  }

  .header {
    position: relative;
    padding: 5px 5px;
    font-size: 16px;
  }

  .filter-row {
    padding: 0px 10px;
  }

  .filter-row:not(:last-child) {
    border-bottom: 1px solid #D9D9D9;
  }

  .filter-label {
    h5 {
      padding: auto;
      text-align: center;
    }
  }
  .input-inner-filter {
    width: 100%;
    margin: auto 15px;
  }

  .buttons-col {
    display: inline-block;
    .btn {
      margin-right: 15px;
      padding: 5px;
      border-bottom: 2px solid $filter;
      border-radius: 0px;
      span {
        margin: 0px 2px;
      }
    }
    .btn:hover {
      border-color: $hover-filter;
      background-color: transparent;
    }
    .btn.active {
      border-color: $active-filter;
      color: $active-filter;
      background-color: transparent;
    }
    .btn:focus {
      outline: none;
    }
    padding: 0px;
    margin: 0px;
  }

  .header-title {
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 0px;
  }

  .armor-view-filter-icon-menu {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: -3px;
    top: -10px;
  }

  .help-icon {
    position: absolute;
    right: 0px;
    top: 10px;
    font-size: 15px;
    width: 30px;
    text-align: center;
  }

  .help-icon:hover {
    cursor: help;
  }

  .overlay-message {
    margin: 0;
    padding: 5px 0px;
    font-size: 14px;
    color: #F57F17;
  }

  .error-message {
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 5px;
  }
}
.split .armor-view-filter-icon-menu {
    display: inline-block;
}
