@mixin fab($sizeScale) {
  $size: 65px * $sizeScale;
  width: $size;
  height: $size;
  border-radius: $size;
  text-align: center;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: relative;
  display: table;
  padding: 11px*$sizeScale 0 0 0;
  .fa {
    font-size: 2em * $sizeScale;
    font-weight: 100;
    display: table-cell;
    vertical-align: middle;
  }
  &:focus {
    outline: 0;
  }
  &:hover {
    box-shadow: 0 6px 11px 0 rgba(0, 0, 0, .26);
  }
}
.fab{
  &.normal {
    .fab-button{
      @include fab(1);
    }
    .fab-item{
      margin-left: 9px;
      @include fab(.75);
      .fa {
        left: 15px;
        top: -15px;
        position: absolute;
        display: block;
      }
    }
  }
  &.small{
    .fab-button{
      @include fab(.8);
    }
    .fab-item{
      @include fab(.6);
      .fa {

        left: 13px;
        top: -13px;
        position: absolute;
       display: block;
      }
    }
  }

  .fab-item {
    margin: 5px;
    border: 0;
    display: block;
    & > .icon-wrapper{
      top: 3px;
    }
  }
}