@import 'colors';

.armor-list {
  .pagination-wrapper {
    width: 100%;
    text-align: center;
  }
  .list-group-item{
    $bgColor: #fafafa;
    background-color: $bgColor;
    transition: max-height 1200ms, background-color 500ms linear;
    max-height: 100px;
    overflow: hidden;
    .close-button-container {
      position: absolute !important;
      right: 0px !important;
      top: 0px !important;
      z-index: 1 !important;
    }

    &.active, &.active:hover {
      background-color: $pLight !important;
      color: #666;
      max-height: 500px;
      border: 0;
      border-bottom: 1px solid #999;
    }
    &:hover {
      background-color: darken($bgColor, 2%);
    }
    &.all-active, &.all-active:hover {
      background-color: $bgColor;
      color: #666;
      max-height: 500px;
      border: 0;
      border-bottom: 2px solid #999;
    }
    .armor-list-item-img-col {
      padding: 0;
      .armor-list-row-img{
        width: 100%;
        text-align: center;
        &.armor-list-row-element {
          border-radius: 50%;
          width: 47px;
          display: inline-block;
          height: 47px;
          border: 2px solid $primary;
        }
      }
    }

    .armor-list-data{
      padding: 0;
      .armor-list-item-data-rows {
        padding: 15px;
      }
    }

    .btn-col {
      padding: 0;
    }
    .armor-list-item-fab{
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .close-clear {
    color: $pDark !important;
    font-size: 18px !important;
  }
}