.filter-item {
  margin: 0 5px;
  transition: box-shadow 0.18s cubic-bezier(0.4,0,0.2,1);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
  font-size: 14px;
  display: inline-block;
  border-radius: 5px;
  &:hover{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
    cursor: pointer;
  }
  .remove-btn {
    $color: #fafafa;
    background-color: transparent;
    border: 0;
    padding: 0;
    transition: color 150ms;
    &:hover{
      color: darken($color, 20%);
    }
    &:after{
      color:#444;
      content: '|';
      padding: 3px;
    }
    &:active{
      color: #444;
    }
  }
}