.content-box {
  .content-box-title-row {
    display: block;
    background-color: #eee;
    .title {
      font-size: 20px;
    }
  }
  .side-no-header {
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 999;
  }
}