.circle {
    width: 32px;
    height: 32px;
    border-radius: 30px;
    line-height: 32px;
    color: white;
    background-color: #E040FB !important;
    text-align: center;
}

.header-print {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #2196F3;
  &::before {
    font-size: 12px;
    font-weight: 20pt;
    color: red;
    content: "Powered by ";
  }
}

.time-stamp-print {
  position: absolute;
  top: 0;
  right: 0;
}

.map-print {
  position: fixed !important;
  top: 200px !important;
  left: -330px !important;
  width: 1100px !important;
  height: 665px !important;
}

.options-print {
  position: absolute;
  top: 75px;
  left: 0;
}